---
// import { Icon } from "astro-icon/components";
import XavierGenolhac from "@/assets/pictures/Xavier-Genolhac.webp";
import { Image } from "astro:assets";

interface Props {
  url: string;
  title: string;
  date?: string;
  description?: string;
  tags?: string[];
  image?: {
    url: string;
    alt: string;
  };
  author?: string;
  readTime?: number;
}

const {
  url,
  title,
  date,
  description = "",
  tags = [],
  image = {
    url: "/default-blog.jpg",
    alt: "default",
  },
  author = "Xavier Genolhac",
  readTime = 5,
} = Astro.props;
---

<article
  class="bg-light dark:bg-dark-background w-full max-w-sm overflow-hidden rounded-lg shadow-md"
>
  <!-- Image avec overlay au hover -->
  <a href={url} class="group relative mb-4 block overflow-hidden">
    <div class="relative">
      <img
        src={image.url}
        alt={image.alt}
        class="h-auto w-full object-cover transition-transform duration-300 ease-in-out group-hover:scale-105"
        loading="lazy"
      />
    </div>
    <!-- Overlay au survol -->
    <div
      class="absolute inset-0 bg-gradient-to-t from-black/60 to-transparent opacity-0 transition-opacity duration-300 group-hover:opacity-100"
    >
    </div>
  </a>

  <!-- Informations de catégorie et date -->
  <div class="mb-3 flex items-center justify-between px-5">
    <div>
      <!-- <a
        href={url}
        class="inline-block rounded bg-purple-100 px-2 py-1 transition-colors duration-300 hover:bg-purple-200"
      > -->
      <div class="inline-block rounded bg-purple-100 px-2 py-1">
        <span class="!text-xs !text-purple-600">{tags[0]}</span>
      </div>
      <!-- </a> -->
    </div>
    <div class="flex items-center">
      <span class="!text-dark dark:!text-light !text-xs">{date}</span>

      <!-- SVG dot separator -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2 2"
        class="mx-1.5 h-1 w-1 fill-current text-gray-400"
      >
        <circle cx="1" cy="1" r="1"></circle>
      </svg>

      <span class="!text-dark dark:!text-light !text-xs">{readTime}</span>
      <span class="!text-dark dark:!text-light ml-0.5 !text-xs">min</span>
    </div>
  </div>

  <!-- Titre de l'article -->
  <a href={url} class="mb-3 line-clamp-2 block px-5">
    <h2
      class="!text-dark dark:!text-light !text-lg !font-semibold hover:underline"
    >
      {title}
    </h2>
  </a>

  <!-- Résumé de l'article -->
  <p class="!text-bg-dark dark:!text-light/95 mb-5 line-clamp-3 px-5 !text-sm">
    {description}
  </p>

  <!-- Informations sur l'auteur -->
  <!-- Pour un composant Astro -->
  <a
    href="https://www.linkedin.com/in/xavier-genolhac/"
    target="_blank"
    class="group flex items-center px-5 py-3"
  >
    <div class="mr-3 h-10 w-10">
      <Image
        src={XavierGenolhac}
        alt="Photo de Xavier"
        widths={[200, 400]}
        sizes="(max-width: 767px) 90vw, calc(50vw - 24px)"
        quality={70}
        format="webp"
        loading="lazy"
        class="h-full w-full rounded-lg object-cover"
      />
    </div>
    <div class="flex h-10 flex-col justify-center">
      <div
        class="dark:text-light text-sm font-medium text-black group-hover:underline"
      >
        {author}
      </div>
      <div class="!text-bg-dark dark:!text-light/95 !text-xs">CEO Eduroots</div>
    </div>
  </a>
</article>
