---
import FooterList from "@/components/atoms/FooterList.astro";

import { Icon } from "astro-icon/components";

import ToggleTheme from "@/components/atoms/ToggleTheme.astro";

const currentYear = new Date().getFullYear();

const blogNavigationItems = [
  {
    name: "Site Principal",

    href: "/",
  },
  {
    name: "Blog",

    href: "/blog",
  },
];

const aboutAndMentions = [
  {
    name: "Contact",

    href: "mailto:contact@dix31.com",
  },
  {
    name: "Mentions légales",

    href: "/mentions-legales",
  },
  {
    name: "Protection des données",

    href: "/rgpd",
  },
];
---

<footer class="bg-dark text-light mt-12 pt-16 pb-6 dark:bg-gray-700">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 gap-10 md:grid-cols-4">
      <!-- Logo et description -->

      <div class="md:col-span-1">
        <div class="flex items-center">
          <h2 class="!text-primary-dark !text-4xl font-bold">Edu</h2>
          <h2 class="!text-secondary-dark !text-4xl">roots</h2>
          <span
            class="!text-light dark:!text-dark bg-primary/85 dark:bg-primary-dark/80 ml-2 hidden rounded-xl p-3 !text-lg !font-medium md:block md:!text-2xl"
            >Blog</span
          >
        </div>

        <p class="!text-light mb-6 text-sm">
          Découvrez nos articles, conseils et actualités sur la gestion
          scolaire, l'éducation numérique et les meilleures pratiques pour les
          établissements d'enseignement.
        </p>

        <figure class="flex space-x-4">
          <a
            href="https://github.com/koala819/EduRootS_website"
            target="_blank"
            aria-label="Lien vers le code source"
            rel="noopener noreferrer"
            class="hover:bg-secondary-dark hover:text-dark rounded-full p-2 transition-colors"
            data-umami-event="GitHub click from Footer BLOG"
          >
            <Icon name="github" class="text-3xl" />
          </a>

          <a
            href="https://www.linkedin.com/in/xavier-genolhac/"
            target="_blank"
            aria-label="Voir le profil LinkedIn"
            rel="noopener noreferrer"
            class="hover:bg-secondary-dark hover:text-dark rounded-full p-2 transition-colors"
            data-umami-event="LinkedIn click from Footer BLOG"
          >
            <Icon name="linkedin" class="text-3xl" />
          </a>

          <!-- <a

            href="/rss.xml"

            target="_blank"

            aria-label="S'abonner au flux RSS"

            rel="noopener noreferrer"

            class="hover:bg-secondary-dark hover:text-dark rounded-full p-2 transition-colors"

          >

            <Icon name="rss" class="text-base md:text-3xl" />

          </a> -->

          <div class="p-2">
            <ToggleTheme name="theme-toggle-blog-footer" />
          </div>
        </figure>
      </div>

      <!-- VIDE -->

      <div class="flex flex-col items-center">
        <h3 class="!text-primary-dark mb-4">&nbsp;</h3>

        <ul class="space-y-3">
          <!-- {

            categoriesItems.map(item => (

              <FooterList link={item.href} text={item.name} />

            ))

          } -->
        </ul>
      </div>

      <!-- Navigation  -->

      <div class="flex flex-col">
        <h3 class="!text-primary-dark mb-4">Navigation</h3>

        <ul class="w-full space-y-3">
          {
            blogNavigationItems.map(item => (
              <FooterList link={item.href} text={item.name} />
            ))
          }
        </ul>
      </div>

      <!-- Mentions legales -->

      <div class="flex flex-col">
        <h3 class="!text-primary-dark mb-4">A propos & Mentions légales</h3>

        <ul class="w-full space-y-3">
          {
            aboutAndMentions.map(item => (
              <FooterList link={item.href} text={item.name} />
            ))
          }
        </ul>
      </div>
    </div>

    <!-- Divider -->

    <div class="border-secondary-dark mt-12 border-t pt-6">
      <div
        class="text-light flex flex-col items-center justify-between text-sm md:flex-row"
      >
        <p class="!text-light inline-flex items-center">
          <Icon name="copyleft" class="mr-4 text-base md:text-3xl" />

          {currentYear} Eduroots. Code source sous licence <a
            href="https://www.gnu.org/licenses/agpl-3.0.html"
            target="_blank"
            rel="noopener"
            data-umami-event="AGPL v3 click from Footer BLOG"
            class="hover:text-secondary-dark ml-1 hover:underline"
          >
            AGPL v3
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
