---
// Props identiques
interface Props {
  title: string;
  btn: string;
  appel: string;
  imageUrl: string;
  alt: string;
}
const { btn, appel, title, imageUrl, alt } = Astro.props;
---

<section
  class="bg-light-dark dark:bg-dark-background relative h-[calc(100dvh-4rem)] overflow-hidden rounded-xl shadow-md lg:h-auto"
>
  <div class="flex h-full flex-col-reverse items-center lg:flex-row">
    <!-- Texte -->
    <div
      class="flex w-full flex-col justify-center px-6 py-8 text-center lg:w-1/2 lg:px-12 lg:text-left"
    >
      <h2>{title}</h2>
      <p>{appel}</p>
      <a
        href="#demo"
        class="btn-primary mt-6 inline-flex items-center justify-center gap-2"
      >
        <span class="!text-light dark:!text-dark">{btn}</span>
        <div class="mr-4 sm:mr-0">
          <svg
            class="h-5 w-5"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </div>
      </a>
    </div>
    <!-- Image -->
    <div class="relative w-full flex-1 lg:w-1/2">
      <img
        src={imageUrl}
        alt={alt}
        class="h-full w-full object-cover object-top sm:object-center md:object-center lg:rounded-r-xl lg:object-center"
        loading="lazy"
      />
    </div>
  </div>
</section>
