---
import GreenCheck from "@/components/atoms/GreenCheck.astro";
import Avantage from "@/components/atoms/PricingAvantages.astro";
import PricingGarantie from "@/components/atoms/PricingGarantie.astro";
import { Icon } from "astro-icon/components";

const libre = [
  {
    text: "Vous l'installez vous-même",
  },
  {
    text: "Code ouvert disponible sur GitHub",
  },
  {
    text: "Bénéficiez du soutien de la communauté via les issues & pull requests",
  },
  {
    text: "Parfait pour les projets autonomes ou expérimentaux",
  },
];

const accompagnement = [
  {
    text: "Hébergement, sauvegardes, support inclus",
  },
  {
    text: "Mises à jour automatiques",
  },
  {
    text: "Formation et assistance 6j/7",
  },
  {
    text: "Engagement mensuel, sans surprise",
  },
];

const solidaire = [
  {
    text: "Toutes les fonctionnalités de l’offre précédente",
  },
  {
    text: "Priorité sur les demandes de fonctionnalités",
  },
  {
    text: "Votre contribution aide à financer le développement",
  },
  {
    text: "Les excédents sont reversés sous forme de sadaqa",
  },
];

const beneficesConcrets = [
  {
    icon: "clock",
    title: "Gagnez du temps chaque semaine",
    text: "Automatisation des tâches administratives répétitives comme le suivi des absences, la gestion des notes et la planification des devoirs.",
  },
  {
    icon: "trending-up",
    title: "Améliorez votre efficacité",
    text: "Une gestion centralisée de vos emplois du temps, des élèves et des communications, tout à portée de clic.",
  },
  {
    icon: "users",
    title: "Renforcez le lien avec les familles",
    text: "Suivi en temps réel des notes et absences, communication facile et sécurisée via notre messagerie intégrée.",
  },
];

// const avantagesOpenSources = [
//   {
//     icon: "search",
//     title: "Code source accessible",
//     text: "Code source vérifiable pour garantir transparence et sécurité.",
//   },
// ];

const Garanties = [
  {
    icon: "clock",
    title: "Installation en 72h",
  },
  {
    icon: "money",
    title: "Satisfait ou remboursé pendant 30j",
  },
  {
    icon: "shield",
    title: "Conformité RGPD/CNIL",
  },
];
---

<section class="mt-12 md:mt-24">
  <div class="container px-4">
    <!-- Section Bénéfices -->

    <h2>SIMPLIFIEZ VOTRE GESTION ET RÉCUPÉREZ DU TEMPS</h2>
    <h3 class="my-6 md:text-center">
      Concentrez-vous sur ce qui compte vraiment
    </h3>
    <p>
      Avec Eduroots, vous gérez votre établissement plus efficacement, réduisez
      les tâches administratives répétitives et renforcez la communication avec
      les familles.
    </p>

    <!-- Bénéfices concrets -->
    <div class="my-4 grid grid-cols-1 gap-4 md:my-16 md:grid-cols-3 md:gap-8">
      {
        beneficesConcrets.map(benefice => (
          <div>
            <Avantage
              iconName={benefice.icon}
              title={benefice.title}
              description={benefice.text}
            />
          </div>
        ))
      }
    </div>

    <!-- Section Tarifs -->
    <div class="space-y-4 text-center md:space-y-8">
      <h2>UN TARIF SIMPLE POUR UNE GESTION SIMPLIFIÉE</h2>
      <h3 class="">Tous les outils en un seul abonnement</h3>
      <p>
        Eduroots vous offre tout ce dont vous avez besoin pour simplifier la
        gestion de votre établissement à un tarif abordable et sans surprise.
      </p>
    </div>

    <div class="mx-auto max-w-4xl">
      <!-- Carte Eduroots Libre -->
      <div class="border-primary mb-8 rounded-2xl border-1 shadow-xl">
        <div class="px-6 pt-8 pb-6 text-center md:px-10">
          <div class="flex items-center justify-center gap-2">
            <Icon name="tux" class="h-16 w-16" />
            <h3>Eduroots Libre</h3>
          </div>
          <p>Pour les développeurs et bénévoles techniques</p>
          <span
            class="!text-primary dark:!text-primary-dark !text-3xl !font-bold"
            >0 € / mois</span
          >

          {
            libre.map(item => (
              <ul>
                <li class="flex items-start">
                  <span class="mt-1 flex">
                    <GreenCheck />
                  </span>
                  <span class="text-dark dark:text-dark-lighter ml-2 break-words">
                    {item.text}
                  </span>
                </li>
              </ul>
            ))
          }

          <a
            href="https://github.com/koala819/Eduroots"
            class="!text-primary dark:!text-primary-dark my-3 hover:underline md:my-4"
            >Accéder au GitHub</a
          >
        </div>
      </div>

      <!-- Carte Eduroots Accompagnement -->
      <div class="border-primary mb-8 rounded-2xl border-1 shadow-xl">
        <div class="px-6 pt-8 pb-6 text-center md:px-10">
          <div class="flex items-center justify-center gap-2">
            <Icon name="handshake" class="h-16 w-16" />
            <h3>Eduroots Accompagnement</h3>
          </div>
          <p>
            Pour les écoles et mosquées qui veulent se concentrer sur la
            pédagogie
          </p>
          <span
            class="!text-primary dark:!text-primary-dark !text-3xl !font-bold"
            >59 € / mois</span
          >
          {
            accompagnement.map(item => (
              <li class="flex items-start">
                <span class="mt-1 flex">
                  <GreenCheck />
                </span>
                <span class="text-dark dark:text-dark-lighter ml-2 break-words">
                  {item.text}
                </span>
              </li>
            ))
          }

          <p>Idéal pour 95 % des structures</p>
        </div>
      </div>

      <!-- Carte Eduroots Solidaire -->
      <div class="border-primary mb-8 rounded-2xl border-1 shadow-xl">
        <div class="px-6 pt-8 pb-6 text-center md:px-10">
          <div class="flex items-center justify-center gap-2">
            <Icon name="heart-handshake" class="h-16 w-16" />
            <h3>Eduroots Solidaire</h3>
          </div>
          <p>Pour celles et ceux qui veulent soutenir le projet</p>
          <span
            class="!text-primary dark:!text-primary-dark !text-3xl !font-bold"
            >99 € / mois</span
          >
          {
            solidaire.map(item => (
              <li class="flex items-start">
                <span class="mt-1 flex">
                  <GreenCheck />
                </span>
                <span class="text-dark dark:text-dark-lighter ml-2 break-words">
                  {item.text}
                </span>
              </li>
            ))
          }

          <p>
            Un abonnement qui compte double : pour votre école, et pour la
            communauté.
          </p>
        </div>
      </div>
    </div>

    <!-- Section Open Source -->
    <!-- <div class="open-source-section mt-16 text-center">
      <div
        class="bg-light dark:bg-dark border-primary border-opacity-10 dark:border-primary-dark inline-flex items-center justify-center rounded-xl border px-6 py-3"
      >
        <span
          class="text-primary dark:text-primary-dark text-sm font-semibold md:text-base"
        >
          100% Open Source - Code source accessible et vérifiable pour garantir
          transparence et sécurité
        </span>
      </div>
    </div> -->

    <!-- Témoignages avant garanties -->
    <div class="my-8 md:my-16">
      <h3 class="text-center">Ils ont simplifié leur gestion avec Eduroots</h3>
      <div class="bg-light-dark dark:bg-dark-background mt-6 rounded-lg p-6">
        <p class="!italic">
          "En tant que responsable administrative, je suivais autrefois
          l'évolution des classes avec des dossiers papier et des tableaux Excel
          complexes. Aujourd'hui, mon tableau de bord Eduroots me signale
          automatiquement les élèves nécessitant un soutien supplémentaire.
          Cette approche proactive nous a permis de réduire l'échec scolaire"
        </p>
        <p class="mt-2 text-right !font-semibold">
          Farid Rachidi - Responsable administratif
        </p>
      </div>
    </div>

    <!-- Garanties et confiance -->

    <h3 class="mb-8 text-center">Nos garanties</h3>

    <div
      class="mb-8 flex flex-col space-y-8 md:mb-16 md:flex-row md:items-center md:justify-center md:space-y-0 md:space-x-8"
    >
      {
        Garanties.map(garantie => (
          <div>
            <PricingGarantie
              iconName={garantie.icon}
              description={garantie.title}
            />
          </div>
        ))
      }
    </div>
  </div>
</section>
